body
	font-family 'Roboto'
	font-weight 300

table
	border-collapse collapse
	tr:nth-child(2n) td
		transition background-color 200ms ease-out
		background-color #DDD
	tr:nth-child(2n+1) td
		transition background-color 200ms ease-out
		background-color white
	td, table th
		text-align center
		border 1px solid gray
	th:nth-child(1)
		letter-spacing -1px
		font-size 60%
	*:nth-child(1)
		width 40px
	*:nth-child(2)
		width 80px
	*:nth-child(3)
		width 120px
	tr td:nth-child(1)
		font-weight bold

div::-webkit-scrollbar 
	width: 10px
 
div::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
 
div::-webkit-scrollbar-thumb
  background-color darkgrey
  outline 1px solid slategrey
 
tr[state=true] td
	transition background-color 200ms ease-in
	background-color rgba(230, 126, 34,0.4)!important

.tab
	height: 18px;
	display: inline-block;
.tab[t_open="1"] > span
	border 1px solid gray
	border-bottom 1px solid transparent
	background-color white
	display inline-block
	position relative
	z-index 20
	height 20px
	padding 5px
	top -3px
	font-size 120%

.tab > span
	cursor default
	border 1px solid gray
	border-bottom 1px solid transparent
	padding 2px
	margin-top 3px
	background-color #CCC

.tab > div
	display none

.tab[t_open="1"] > div
	padding 4px
	border 1px solid gray
	display block
	position absolute
	z-index 15
	top 60px
	left 282px
	width 380px
	height 160px

.formPart
	display inline-block
	width 150px
	margin-top 4px

.buttonWrite1
	display block
	margin auto
	margin-top 14px
	width 220px